<div class="container" style="margin-top:30px">
    <div class="row">
        <app-course-search></app-course-search>
    </div>
    <div class="row">
      <div class="col-12">
             <div class="row card-group" style="margin-left: 10%;">   
                <div style="width: 18rem; margin-bottom:10px" *ngFor="let course of (courses | courseSearch : searchCourse) | paginate : itemsPerPage : activePage" [class.selected]="course !== null"> 
                    <div class="card" style="margin:10px">
                       <img src="{{course.image}}" class="card-img-top">
                      <h5 class="card-header">{{course.name}}</h5>
                      <button type="button" class="btn btn-warning" routerLink="/detail/{{course._id}}">Pokaż</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px">
    <div>
        <app-pagination *ngIf="courses" class="pagination" [totalRecords]="courses.length" [recordsPerPage]="itemsPerPage" (onPageChange)="displayActivePage($event)"></app-pagination> 
    </div>
    <div>Ilość elementów na stronie</div>
    <button class="btn btn-secondary " (click)="changeItemPerPageCount(3)">3</button>
    <button class="btn btn-secondary " (click)="changeItemPerPageCount(6)">6</button>
    <button class="btn btn-secondary " (click)="changeItemPerPageCount(9)">9</button>
</div>